<h1><%= @recipe.title %></h1>

<p><%= @recipe.body %></p>

<ul>
  <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
  <li><%= link_to "Destroy", recipe_path(@recipe), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>


<h2>Comments</h2>
<%= render @recipe.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>